<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> --> <!-- Re-apply customizations on boot (deprecated) -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Access to the internet for checking for updates -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Schedule a job to check for updates -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Notify about new iconify updates -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Access storage for compilation of APKs in .iconify folder -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Read storage to be able to see what the compilation created -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" /> <!-- Manage storage to be able to see what the compilation created -->
    <queries>
        <!-- Checking for Installed Music Players -->
        <package android:name="com.maxmpz.audioplayer" />
        <package android:name="code.name.monkey.retromusic" />
        <package android:name="com.awedea.nyx" />
        <package android:name="com.kapp.youtube.final" />
        <package android:name="com.shadow.blackhole" />
        <package android:name="in.krosbits.musicolet" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="app.revanced.android.youtube" />
        <package android:name="app.revanced.android.apps.youtube.music" />

        <!-- Other Apps -->
        <package android:name="com.drdisagree.colorblendr" />
        <package android:name="it.dhd.oxygencustomizer.aiplugin" />
        <package android:name="org.lsposed.manager" />
    </queries>

    <!-- Weather Updater -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Weather Updater -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Get Location for Weather -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Get Location for Weather -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Get Location for Weather -->
    <uses-permission android:name="com.drdisagree.iconify.READ_WEATHER" /> <!-- Permission for self Weather Provider -->

    <application
        android:name=".Iconify"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/derived_app_name"
        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iconify"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.activities.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.WeatherActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.Iconify" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.Iconify.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".SplashActivityThemed"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_themed"
            android:roundIcon="@mipmap/ic_launcher_round_themed"
            android:targetActivity=".SplashActivity"
            android:theme="@style/Theme.Iconify.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias> <!-- Custom App Icon -->
        <activity-alias
            android:name=".SplashActivityRetro"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_retro"
            android:roundIcon="@mipmap/ic_launcher_round_retro"
            android:targetActivity=".SplashActivity"
            android:theme="@style/Theme.Iconify.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias> <!-- Custom App Icon -->

        <receiver
            android:name=".receivers.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- Boot Receiver -->

        <service
            android:name=".services.RootProviderProxy"
            android:exported="true"
            tools:ignore="ExportedService" />
        <service
            android:name=".services.TileNotchBarKiller"
            android:exported="true"
            android:icon="@drawable/ic_tile_notch_bar_killer"
            android:label="@string/notch_bar_killer_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service> <!-- Quick Settings Tile -->
        <service
            android:name=".services.TilePitchBlack"
            android:exported="true"
            android:icon="@drawable/ic_tile_pitch_black"
            android:label="@string/tile_pitch_black"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service> <!-- Quick Settings Tile -->
        <service
            android:name=".services.TileRestartSystemUI"
            android:exported="true"
            android:icon="@drawable/ic_tile_restart_systemui"
            android:label="@string/restart_sysui_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service> <!-- Quick Settings Tile -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" /> <!-- xposed meta data -->
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_moto" /> <!-- xposed meta data -->
        <meta-data
            android:name="xposedminversion"
            android:value="82" /> <!-- xposed meta data -->
        <meta-data
            android:name="xposedscope"
            android:resource="@array/module_scope" /> <!-- xposed meta data -->
        <provider
            android:name=".data.provider.RemotePrefProvider"
            android:authorities="${applicationId}"
            android:directBootAware="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" /> <!-- Remote Preferences Provider -->
        <provider
            android:name=".utils.weather.WeatherContentProvider"
            android:authorities="com.drdisagree.iconify.weatherprovider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" /> <!-- Weather Content Provider -->

        <!-- name is used a prefix +"_" for images e.g. weather_<condition_id>
             weather_foo_<condition_id> -->
        <activity
            android:name=".google"
            android:exported="false"
            android:label="Google">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".google_new_dark"
            android:exported="false"
            android:label="Google Material Dark">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".google_new_light"
            android:exported="false"
            android:label="Google Material Light">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".outline"
            android:exported="false"
            android:label="Outline">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_color"
            android:exported="false"
            android:label="LockClock">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weatherclient"
            android:exported="false"
            android:label="Weather Client">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".stickers"
            android:exported="false"
            android:label="Stickers">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".marshmallow"
            android:exported="false"
            android:label="Marshmallow">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".icons8_color_hand"
            android:exported="false"
            android:label="Color Hand">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".weather_faded"
            android:exported="false"
            android:label="Faded">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_weezle"
            android:exported="false"
            android:label="Weezle">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_gs6"
            android:exported="false"
            android:label="Galaxy S6">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_miui"
            android:exported="false"
            android:label="MIUI">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_sthul"
            android:exported="false"
            android:label="Sthul">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_tapas"
            android:exported="false"
            android:label="Tapas">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_magical"
            android:exported="false"
            android:label="Magical">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_vclouds"
            android:exported="false"
            android:label="VClouds">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".nothing"
            android:exported="false"
            android:label="Nothing">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>