<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Location (Weather only) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:ignore="BackgroundLocationPolicy" />
    <uses-permission android:name="com.drdisagree.iconify.READ_WEATHER" />

    <queries>
        <package android:name="com.drdisagree.colorblendr" />
        <package android:name="com.drdisagree.pixellauncherenhanced" />
        <package android:name="it.dhd.oxygencustomizer.aiplugin" />
        <package android:name="org.lsposed.manager" />
    </queries>

    <application
        android:name=".app.Iconify"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/derived_app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iconify.SplashScreen">
        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Root Provider Proxy -->
        <service
            android:name=".services.providers.RootProviderProxy"
            android:exported="true"
            tools:ignore="ExportedService" />

        <!-- ML Kit -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="subject_segment" />

        <!-- Quick Settings Tile -->
        <service
            android:name=".services.tiles.RestartSystemUITile"
            android:exported="true"
            android:icon="@drawable/ic_tile_restart_systemui"
            android:label="@string/restart_sysui_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>

        <!-- Xposed Metadata -->
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_motto" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/module_scope" />

        <!-- Remote Preferences Provider -->
        <provider
            android:name=".services.providers.RemotePrefProvider"
            android:authorities="${applicationId}"
            android:directBootAware="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <!-- Boot Receiver -->
        <receiver
            android:name=".services.receivers.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Package Install Receiver -->
        <receiver
            android:name=".services.receivers.PackageInstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <!-- Weather Content Provider -->
        <provider
            android:name=".core.utils.weather.WeatherContentProvider"
            android:authorities="com.drdisagree.iconify.weatherprovider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <!-- Weather icons must be named "<pack_name>_<condition_id>" (e.g., weather_800, weather_foo_800) -->
        <activity
            android:name=".google"
            android:exported="false"
            android:label="Google">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".google_new_dark"
            android:exported="false"
            android:label="Google Material Dark">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".google_new_light"
            android:exported="false"
            android:label="Google Material Light">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".outline"
            android:exported="false"
            android:label="Outline">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_color"
            android:exported="false"
            android:label="LockClock">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weatherclient"
            android:exported="false"
            android:label="Weather Client">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".stickers"
            android:exported="false"
            android:label="Stickers">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".marshmallow"
            android:exported="false"
            android:label="Marshmallow">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".icons8_color_hand"
            android:exported="false"
            android:label="Color Hand">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".weather_faded"
            android:exported="false"
            android:label="Faded">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_weezle"
            android:exported="false"
            android:label="Weezle">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_gs6"
            android:exported="false"
            android:label="Galaxy S6">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_miui"
            android:exported="false"
            android:label="MIUI">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_sthul"
            android:exported="false"
            android:label="Sthul">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_tapas"
            android:exported="false"
            android:label="Tapas">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_magical"
            android:exported="false"
            android:label="Magical">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".weather_vclouds"
            android:exported="false"
            android:label="VClouds">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".nothing"
            android:exported="false"
            android:label="Nothing">
            <intent-filter>
                <action android:name="${applicationId}.WeatherIconPack" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>