<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Notification service on boot -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> -->
    <!-- <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> -->
    <!-- Access phone storage for installation of APKs in .iconify folder -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <queries>
        <package android:name="com.maxmpz.audioplayer" />
        <package android:name="code.name.monkey.retromusic" />
        <package android:name="com.awedea.nyx" />
        <package android:name="com.kapp.youtube.final" />
        <package android:name="com.shadow.blackhole" />
        <package android:name="in.krosbits.musicolet" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="app.revanced.android.youtube" />
        <package android:name="app.revanced.android.apps.youtube.music" />
    </queries>

    <application
        android:name=".Iconify"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iconify"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.activity.ColorTable"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.NavigationBar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.Settings"
            android:exported="false" />
        <activity
            android:name=".ui.activity.VolumePanel"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BrightnessBarsPixel"
            android:exported="false" />
        <activity
            android:name=".ui.activity.QsShapesPixel"
            android:exported="false" />
        <activity
            android:name=".ui.activity.QsIconLabel"
            android:exported="false" />
        <activity
            android:name=".ui.activity.QsRowColumn"
            android:exported="false" />

        <receiver
            android:name=".services.BootCompletedReceiver"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.BackgroundService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activity.ColorPicker"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ColorEngine"
            android:exported="false" />
        <activity
            android:name=".ui.activity.Extras"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UiRoundness"
            android:exported="false" />
        <activity
            android:name=".ui.activity.Info"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MediaPlayer"
            android:exported="false" />
        <activity
            android:name=".ui.activity.Notifications"
            android:exported="false" />
        <activity
            android:name=".ui.activity.QsShapes"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.BrightnessBars"
            android:exported="false" />
        <activity
            android:name=".ui.activity.IconPacks"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HomePage"
            android:exported="false" />
        <activity
            android:name=".ui.activity.WelcomePage"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Iconify.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>